:root {
    --color-black: #000;
    --color-white: #fff;
    --color-black-dull: rgba(0, 0, 0, 0.7);

    --bgcolor-header: #f8f8f8;
    --bgcolor-header-respo: #f2f2f2;
    --bgcolor-footer: #59504c;
    --bgcolor1: #ded9d7;
    --bgcolor2: #59504c;
    --bgcolor3: #332c29;
    --bgcolor4: #c6beba;
    --bgcolor5: #837974;
    --bgcolor6: #f7f5f5;

    --color-box-shadow: rgba(0, 0, 0, 0.24);

    --color-ancer: #757575;
    --font-color: #111111;
    --font-color2: #808080;
    --font-color3: #9e9e9e;

    --border-color: #404040;

    --font-family-open: "Open Sans", sans-serif;
    --font-family-Poppins: "Poppins", sans-serif;
}